@font-face {
  font-family: pixelify;
  src: url(PixelifySans-Regular.ttf);
}

body {
  background-color: rgb(15, 42, 82);
  margin: 0;
}
.title_div {
  width: 35%;
  padding-left: 32%;
}

#pdftext {
  width: 10%;
  padding-left: 45%;
}

#downloadtext {
  width: 24%;
  padding-left: 38%;
}
.title {
  color: rgb(172, 209, 241);
  text-align: center;
  padding: 0px;
  font: bold 4vw pixelify;
}

.downloadword {
  color: rgb(172, 209, 241);
  text-align: center;
  padding: 1px;
  font: bold 1vw pixelify;
}

.downloadpdf {
  color: rgb(15, 42, 82);
  text-align: center;

  font: bold 1vw pixelify;
}
p.downloadpdf:hover,
h1.title:hover,
p.pdftitle:hover {
  color: rgb(255, 234, 0);
}

p.downloadpdf:visited,
p.downloadpdf:active,
h1.title:visited,
h1.title:active,
p.pdftitle:visited,
p.pdftitle:active {
  color: blueviolet;
}

.section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.background1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-image: url("https://www.discoverhongkong.com/content/dam/dhk/intl/default/hktb_16-9.jpg");
  background-size: cover;
  background-position: center center;
  opacity: 0.7; 
}

.videotitle,
.pdftitle {
  text-align: center;
  color: rgb(15, 42, 82);
  font: small-caps bold 4vh pixelify;
}
.pdftitle {
  text-align: center;
  color: rgb(15, 42, 82);
  font: small-caps bold 4vh pixelify;
}

.background2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-image: url("https://www.discoverhongkong.com/content/dam/dhk/intl/default/hktb_16-9.jpg");
  background-size: cover;
  background-position: center center;
  opacity: 0.7;
  transform: scaleY(-1);
}
.video-container {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 59.8%;
  height: 90%;
  overflow: hidden;
}

.video-container iframe {
  width: 100%;
  height: 75%;
  border: none;
  display: block;
}

.video-container_pdf {
  position: absolute;
  top: 0%;
  left: 20%;
  width: 59.8%;
  height: 100%;
  overflow: hidden;
}

.video-container_pdf iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
#btnPdfFullscreen {
  background-color: rgb(172, 209, 241);
  color: rgb(15, 42, 82);
  cursor: pointer;
  padding: 5px;
  border: none;
}
#btnPdfFullscreen:hover {
  background-color: rgba(172, 209, 241, 0.014);
  color: rgb(15, 42, 82);
}

.fter {
  background-color: rgb(15, 42, 82);
  color: rgb(172, 209, 241);
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-top: 0.5%;
  padding-bottom: 0%;
  font-size: 100%;
  top: 80%;
}


.bi {
  padding-left: 0.7%;
  padding-right: 0.7%;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


.bi:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebookf */
.bi-facebook {
  background: #3b5998;
  color: white;
}

.d_fter_fb {
  padding-left: 0%;
  font-size: 200%;
}

/*youtube*/
.bi-youtube {
  background: #bb0000;
  color: white;
}
/*X*/
.bi-twitter-x {
  background: #000000;
  color: white;
}
.bi-instagram {
  background: #ff00e6dc;
  color: white;
}

.logo {
  width: 10%;
  padding-left: 75%;
}

/***********************************************Mobile****************************************************/

@media (max-width: 500px) {
  .video-container {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 130%;

    overflow: hidden;
  }
  .video-container iframe {
    width: 100%;
    height: 60%;
    border: none;
    display: block;
  }

  .video-container_pdf {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 100%;

    overflow: hidden;
  }
  .video-container_pdf iframe {
    width: 100%;
    height: 60%;
    border: none;
    display: block;
  }

  .videotitle {
    font: small-caps bold 3vh pixelify;
  }

  .section {
    height: 30vh;
  }

  .videotitle {
    font: small-caps bold 2vh pixelify;
  }
}

